:root {
    --main-color: #4F46E5;
    --secondary-color: #6366F1;
    --text: #1F2937;
    --text-light: #F3F4F6;
    --background: #F9FAFB;
    --head-foot: #111827;
    --positive: #10B981;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

/*==================================
General initialization
==================================*/

body {
    background-color: var(--background);
    line-height: 1.5;
    color: var(--text);
    cursor: default;
}

header, footer {
    color: var(--text-light);
    background-color: var(--head-foot);
}

h1, h2, h3 {
    font-weight: 700;
    margin: 0 20px;
}

h1, h2, h3, button {
    color: var(--main-color);
}

a {
    color: var(--text-light);
    text-decoration: none;
}

a:hover, button:hover {
    color: var(--secondary-color);
}

span {
    color: var(--positive);
}

/*==================================
Header & navbar
==================================*/

nav {
    width: 100%;
    display: flex;
}

.logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    padding: 30px 0 30px 50px;
}

nav ul {
    width: 500px;
    position:absolute;
    right: 50px;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

nav ul li {
    display: inline-block;
}

li a {
    transition: all .2s ease-in-out;
}

li a:hover {
    text-decoration: underline;
}

/*==================================
Sections
==================================*/

section {
    margin: 45px auto;
    text-align: center;
}

section:last-of-type {
    margin-bottom: 150px;
}

h1, h1 span {
    font-size: 2rem;
    margin-bottom: 50px;
}

p {
    font-size: 0.9rem;
}

.promote {
    margin-bottom: 30px;
}

button {
    margin-top : 15px;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: var(--main-color);
    padding: 15px;
    border: 5px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: var(--head-foot) 0 0 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: var(--background);
    border-color: var(--positive);
}

button:hover a{
    color: var(--positive);
}

button:active {
    transform: translateY(3px);
}

h2, h2 span {
    font-size: 1.7rem;
}

h2 {
    padding: 15px;
    border: var(--positive) 3px solid;
    border-radius: 10px;
    width: fit-content;
    margin: 25px auto;
}

h3 {
    font-size: 1.4rem;
}

/*==================================
Fonctionnality
==================================*/

.advantage article {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

i {
    font-style: normal;
    font-size: 3rem;
}

.card-advantage {
    min-width: 320px;
    max-width: 25%;
    height: 350px;
    border-radius: 8px;
    box-shadow: var(--positive) 0 0 2px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-advantage p {
    padding: 15px 25px;
}

/*==================================
Price
==================================*/

#price {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-price {
    border-radius: 8px;
    box-shadow: var(--positive) 0 0 2px;
    min-width: 350px;
    max-width: 450px;
    flex-wrap: wrap;
}

.card-price h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

article ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 20px;
}

article ul li {
    line-height: 45px;
}

article ul li:last-of-type {
    margin-bottom: 50px;
}

.valid {
    color: var(--text);
}

.invalid {
    color: lightgray;
    text-decoration: line-through;
}

.align-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 2rem;
}

img {
    width: 50px;
    height: 50px;
}

.card-price button {
    background-color: var(--positive);
    border: none;
    box-shadow: var(--secondary-color) 0 0 3px;
    margin-bottom: 35px;
}

.card-price button span {
    color: var(--text-light);
}

.card-price button:hover {
    background-color: var(--background);
    border: var(--positive) 2px solid;
    transform: scale(1.2);
}

.card-price button:hover span {
    color: var(--positive);
}

.card-price button:active {
    transform: translateY(5px);
}

/*==================================
thought section
==================================*/

.thought .logo {
    padding: 0;
}

.thought {
    margin: 60px auto;
}

.thought-container {
    max-width: 600px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 15px;
    padding: 30px;
}

input[type="radio"] {
    display: none;
}

.slides-thought {
    display: flex;
    width: 100%;
    transition: all .5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    padding: 20px;
}

.slide img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.customer-thought {
    text-align: justify;
    padding: 0 35px;
    font-size: 1rem;
}

cite {
    color: var(--text);
    font-size: 1.2rem;
}

#slide1:checked ~ .slides-thought {
    transform: translateX(0%);
}
#slide2:checked ~ .slides-thought {
    transform: translateX(-100%);
}
#slide3:checked ~ .slides-thought {
    transform: translateX(-200%);
}

.thought-nav {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 20px;
}

.thought-nav label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 8px;
    cursor: pointer;
    transition: background .3s ease;
}

#slide1:checked ~ .thought-nav label[for="slide1"],
#slide2:checked ~ .thought-nav label[for="slide2"], 
#slide3:checked ~ .thought-nav label[for="slide3"] {
    background: var(--positive);
}

/*==================================
footer
==================================*/

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
}

footer .logo {
    padding: 0;
}

/*==================================
responsive
==================================*/

@media (max-width: 1024px) {
    .advantage article {
        flex-wrap: wrap;
        gap: 25px;
    }
}

@media (max-width: 900px) {
    nav {
        padding: 25px 0;
    }

    .logo {
        padding-left : 15px;
    }
    
    
    nav ul {
        flex-direction: column;
        align-items: end;
        right: 15px;
    }

    h1 {
        margin-top: 25px;
    }

    section {
        margin: 0 25px;
    }

    footer {
        position: relative;
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 640px) {
    * {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .logo, nav ul {
        margin: auto;
    }

    nav ul {
        width: 100%;
        right: 0;
        flex-direction: row;
        position: absolute;
        top: 120px;
    }
}